$greenScreen: #00b140;
$greenScreenLight: #00cf4c;
$greenScreenLight2: #00ff5e;

html {
    background-color: $greenScreen;
    overflow: hidden;
}

.clearfix,
.clearfix * {
    margin: 0;
    padding: 0;
}

.abs-top-right {
    position: absolute !important;
    top: 5px;
    right: 5px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.drag-drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    &.drag-is-over {
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.deck-items {
    * {
        --moveable-color: #{$greenScreenLight} !important;
    }

    .moveable-control {
        border: unset !important;
    }

    .moveable-rotation .moveable-rotation-control {
        background: #{$greenScreenLight} !important;
    }

    .uploaded-media {
        position: absolute !important;
        top: -100px;
        left: -100px;

        .meta {
            position: relative;
            color: $greenScreenLight2;
        }

        img,
        .text,
        video {
            width: calc(100% - 2em);
            height: auto;
            padding: 1em;
            overflow: hidden;
        }

        .text {
            height: calc(100% - 2em);
        }
    }
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: transparent !important;
    z-index: 4000;

    .ql-snow .ql-fill,
    .ql-snow .ql-picker,
    .ql-snow .ql-stroke {
        fill: #{$greenScreen};
        color: #{$greenScreenLight};
        stroke: #{$greenScreenLight};
    }

    .ql-snow.ql-toolbar button:hover,
    .ql-snow.ql-toolbar .ql-picker-item:hover,
    .ql-snow.ql-toolbar .ql-picker-label:hover,
    .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active,
    .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
    .ql-snow.ql-toolbar button.ql-active,
    .ql-snow.ql-toolbar button.ql-active .ql-stroke,
    .ql-snow.ql-toolbar button:hover .ql-stroke {
        fill: #{$greenScreen};
        color: #{$greenScreenLight2};
        stroke: #{$greenScreenLight2};
    }

    .ReactModal__Content.ReactModal__Content--after-open {
        border: transparent !important;
        background-color: #{$greenScreen} !important;
        min-width: 50vw;
        min-height: 50vh;

        .ql-container {
            min-height: 40vh;
        }

        .ql-toolbar.ql-snow,
        .ql-container.ql-snow,
        .ql-snow .ql-picker-options {
            border: 1px solid #{$greenScreenLight} !important;
            background-color: #{$greenScreen};
        }

        .button {
            margin-top: 0.75em;
            padding: 1em;
            cursor: pointer;
            float: right;
            color: #{$greenScreenLight2};
            min-width: 100px;
            background: #{$greenScreenLight};
            border: 1px solid #{$greenScreenLight};
            border-radius: 10px;
        }
    }
}